// 自定义块样式

.custom-block {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  border-radius: 4px;
  border-left: 5px solid transparent;

  .custom-block-title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  &.tip {
    background-color: #f3f5f7;
    border-color: #42b983;

    .custom-block-title {
      color: #42b983;
    }
  }

  &.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: #e7c000;

    .custom-block-title {
      color: #e7c000;
    }

    a {
      color: #2c3e50;
    }
  }

  &.danger {
    background-color: #ffe6e6;
    border-color: #cc0000;

    .custom-block-title {
      color: #cc0000;
    }

    a {
      color: #cc0000;
    }
  }

  &.note {
    background-color: #e7f5ff;
    border-color: #339af0;

    .custom-block-title {
      color: #339af0;
    }
  }

  &.details {
    background-color: var(--c-bg-lighter);
    border-color: var(--c-border);
    padding: 1rem 1.5rem;

    summary {
      cursor: pointer;
      font-weight: 600;
      color: var(--c-text-lighter);
    }
  }
}
